[kafka]
serverGeneralTopic = "serverGeneralTopic"
clientsGeneralTopic = "clientsGeneralTopic"
log_level_debug = true
debugpy = false
bootstrapServer = "localhost:9092"
serverHandshakeTopic = "serverHandshakeTopic"
clientHandshakeTopic = "clientHandshakeTopic"


