# server version
SERVER_VERSION = "0.2.0"

# environment (development, staging, production)
ENVIRONMENT = "development"

# Websocket server configuration
WEBSOCKET_HOST = "localhost"
WEBSOCKET_PORT = 8765

# KAFKA_SERVER = "<mlkafka.address>:9093"
# KAFKA_SECURITY_PROTOCOL = "ssl"
# For local development, you shoud use different port:
# KAFKA_SERVER = "127.0.0.1:9092"
    
# Database address
DB_ADDRESS = "morphoLogicServer:morphoLogicTEST@127.0.0.1:5432/morphoLogicDB"
DB_ECHO = False